.section-2 {
  background: black;
}
.fp-controlArrow.fp-prev {
  border: none!important;
  left: 65px!important;
}
.fp-controlArrow.fp-prev::before {
  content: "";
  background-image: url('/imgs/arrow-roxo.svg');
  width: 90px;
  height: 70px;
  display: block;
  background-repeat: no-repeat;
}
.fp-controlArrow.fp-next {
  border: none!important;
  right: 140px!important;
}
.fp-controlArrow.fp-next::before {
  content: "";
  background-image: url('/imgs/arrow-roxo.svg');
  width: 90px;
  height: 70px;
  display: block;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.fp-slidesNav.fp-bottom ul li a span {
  background: rgb(255, 185, 25);
}
.depoimento2 {
  background-image: url('/imgs/REJANE.png');
  background-repeat: no-repeat;
  background-size: cover;
    background-color: rgb(255,255,255);
  background-color: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 81%);
}
.depoimento1 {
  background-image: url('/imgs/ROGERIO.png');
  background-repeat: no-repeat;
  background-color: rgb(255,255,255);
  background-color: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 81%);
}
.aspas1 {
  position: absolute;
  right: 45%;
  top: 33%;
  z-index: 1;
  width: 100px;
  opacity: 0.2;
}
.aspas2 {
  position: absolute;
  right: 10%;
  top: 58%;
  z-index: 1;
  width: 100px;
  opacity: 0.2;
}
.depoimento {
  position: relative;
  width: 100%;
}
.autor {
  color: rgb(51, 8, 50);
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  font-size: 35px;
}
.autor-position {
  font-size: 18px;
  font-style: italic;
  margin-left: 16px;
}
.depoimento-texto {
  width: 40%;
  font-size: 34px;
  color: rgb(51, 8, 50);
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  right: 9%;
  top: calc(50% - 100px);
  height: 300px;
  font-weight: bold;
}

.depoimento2 .depoimento-texto {
  left: 9%;
}
.depoimento2 .aspas1 {
  left: 10%;
}
.depoimento2 .aspas2 {
  left: 45%;
}